body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    height: auto;
    overflow: hidden;
}

.calculator{
    position: absolute;
    display:none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    width: 317px;
    flex-basis:0;
    background:#dfdfdf;
    box-sizing: border-box;
    box-shadow: 0 0 5px #3b6, 0 0 1em #022;

    &__display{
        display: flex;
        flex-flow:column;
        align-items: stretch;
        background:rgb(223, 223, 223);
        &-hat{
            display: flex;  
        }
        .hat{
            display: flex;
            margin: 0px 2px 7px 5px;
            &__title{
                flex: 0 0 65%;
                display: flex;
                height: 25px;
                margin-left: 15px;
                font-size: 12px;
                align-items: flex-end;
                cursor: default;
            }
            &__buttons{
                display: flex;
                flex: 0 0 26%;
                justify-content: space-between;
                align-items: flex-end;
                &-rollUp{
                    height: 10px;
                    width: 10px;
                    border-bottom: 1px solid black;
                    &:hover {
                        cursor: pointer;
                      }
                }
                &-expand{
                    height: 10px;
                    width: 10px;
                    border: 1px solid black;
                    &:hover {
                        cursor: pointer;
                      }
                    
                }
                &-close{
                    height: 10px;
                    width: 10px;
                    padding-bottom: 2px;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 14px;
                        width: 1px;
                        background-color: #000;
                        transform: rotate(45deg);
                        margin-left: 4px;
                        box-shadow: 0 0 10px rgba(0,0,0,0.5);
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        height: 14px;
                        width: 1px;
                        background-color: #000;
                        transform: rotate(-45deg);
                        margin-left: 4px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }  
        }
        
        .types{
            display: flex;
            margin: 6px 0 0 17px;
            &__btn{
                flex: 0 0 10%;
                font-size: 20px;
            }
            &__name{
                flex: 0 0 70%;
                font-size: 20px;
            }
        }
        &-input{
            background:rgb(223, 223, 223);
            display: flex;
            flex-flow: column;
            padding: 23px 7px;
            &--size{
                border:none;
                color:black;
                height: 100%;
                width: 100%;
                text-align: right;
                font-size: 40px;
                font-weight: 500;
                outline: none;
                background:rgb(223, 223, 223);
            }
            &--shadow{
                border:none;
                height: 100%;
                width: 100%;
                text-align: right;
                font-size: 15px;
                font-weight: normal;
                outline: none;
                background:rgb(223, 223, 223);
            }
            &--memory{
                border:none;
                height: 100%;
                width: 100%;
                text-align: left;
                font-size: 15px;
                font-weight: normal;
                outline: none;
                background:rgb(223, 223, 223);
            }
        }
    }
    
    
   
    .memory-calculator__operations{
        flex:1 0 0;
        &--size{
            height: 100%;
            width: 100%;
            outline: none;
            border:none;
            font-weight: 600;
            font-size: 12px;
            padding: 7px 0;
            border-radius: 3px;
            background:rgb(223, 223, 223);
            &:hover{
                background: linear-gradient(to top, #d4d4d4, #b9b9b9);
            }
            &:active{
                background: linear-gradient(to top, #b9b9b9, #d4d4d4);
            }
        }
    }

    &__memory{
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        background:rgb(223, 223, 223);
    
    } 



    &__keyboard{
        display: flex;
        flex-flow: column;
        justify-content:center ;
        align-items: stretch;
        background:rgb(223, 223, 223);
        &-container{
            display:flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            background:rgb(223, 223, 223);
    
        }
        &-button{
            flex: 0 0 24%;
            border-radius: 2px;
            margin: 1px;
            &--number{
                background: white;
                font-weight: bold;
                font-size: 20px;
                padding: 16px;
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                &:hover{
                    background: linear-gradient(to top, #d4d4d4, #b9b9b9);
                }
                &:active{
                    background: linear-gradient(to top, #b9b9b9, #d4d4d4);
                }
            }
            &--operation{
                background:rgb(241, 241, 241);
                font-size: 18px;
                font-weight:100;
                padding: 16px;
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                &:hover{
                    background: linear-gradient(to top, #d4d4d4, #b9b9b9);
                }
                &:active{
                    background: linear-gradient(to top, #b9b9b9, #d4d4d4);
                }
            }
        }
    }
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.3;
}

.openCalc{
    position: absolute;
    cursor: pointer;
    right: 1rem;
    top: 32rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #b9b9b9;
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 300;
    animation:pulsing 2s infinite;
    box-shadow:  0 0 6px #3B6, 0 0 4em #022;
    @keyframes pulsing {
        
        0% {
          transform: scale(0.7, 0.7)
          
        }
        50% {
          transform: scale(1.0, 1.0);
          
        }
        100% {
          transform: scale(0.7, 0.7);
          
        }
    }

    &__text{
        text-align: center;
        font-family: a_BighausTitulBrkHll;
        text-shadow: 1px 1px 5px #387, 0 0 1em #fff;
        color: #ffffffbf;
    }
}

